name: cicd

on:
  push:
    paths:
      - src/**
    branches:
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Set short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: sunilsolanki/python-app:${{ env.SHORT_SHA }}

  cd:
    needs: ci
    runs-on: self-hosted
    steps:
      - name: Install argocd
        shell: bash
        run: |
          curl -sSL -o argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          chmod +x argocd-linux-amd64
          sudo mv argocd-linux-amd64 /usr/local/bin/argocd
          argocd version --client
          
      - name: Argo cd app sync
        shell: bash
        run: |
          argocd login argocd-server.argo-cd \
          --insecure \
          --grpc-web \
          --username ${{ secrets.ARGOCD_LOGIN }} \
          --password ${{ secrets.ARGOCD_PASSWORD }}
          argocd app sync python-app